@model aplicacion.models.Escritura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Escritura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cne" class="control-label"></label>
                <input asp-for="Cne" class="form-control" />
                <span asp-validation-for="Cne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comuna" class="control-label"></label>
                <input asp-for="Comuna" class="form-control" />
                <span asp-validation-for="Comuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manzana" class="control-label"></label>
                <input asp-for="Manzana" class="form-control" />
                <span asp-validation-for="Manzana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predio" class="control-label"></label>
                <input asp-for="Predio" class="form-control" />
                <span asp-validation-for="Predio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fojas" class="control-label"></label>
                <input asp-for="Fojas" class="form-control" />
                <span asp-validation-for="Fojas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInscripcion" class="control-label"></label>
                <input asp-for="FechaInscripcion" class="form-control" />
                <span asp-validation-for="FechaInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroInscripcion" class="control-label"></label>
                <input asp-for="NumeroInscripcion" class="form-control" />
                <span asp-validation-for="NumeroInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
